dist: xenial
language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
install:
  - |
    if [[ $TRAVIS_BRANCH == *"greenkeeper"* ]]; then
      travis_retry npm run lerna:bootstrap:no-ci;
    else
      travis_retry npm run lerna:bootstrap:ci;
    fi
before_script:
  - |
    if [[ $TRAVIS_BRANCH == *"greenkeeper"* ]]; then
      npm run greenkeeper:lockfile:update;
    fi
script:
  - npm run clean
  - npm run lint
  - npm run build:prod
  - npm run test:ci
after_script:
  - |
    if [[ $TRAVIS_BRANCH == *"greenkeeper"* ]]; then
      npm run greenkeeper:lockfile:upload;
    fi
branches:
  only:
    - master
    - /^greenkeeper.*$/
env:
  global:
    - secure: 7kJN2hc1VCvpSY6V17Yg+laNJBFXXNX3JchHSeMx8+VSN1qARQ2cEP3RQMsDqNaOW2cvL33ni3CVOQKyfquZSt//DPvmWnT2vgylkYcHPK8D6WmdF3Cl2cwLvsP7ee/biZ9bBPKwCMFfLDrOYPa1YWoOf7Y5RFoPgaHQTumO1KWN34G8fRfAK+P2QFaoQRsadjbaOVKiVjScJ57zn3qwbTW9GzzBHQw33w9gVNFJ+V2Cvy427TvrQJLr03XRJ+GK/rv+FyT0AQm0Fe5Ybhbji0DRZUuHLsvzQ/e9DnF9r8Pv4HyIVxUhOoVL6pIbqL/z06W05ar4cReMvLgPjZBvUVZwgUiswz8EsfPP7txrDJuNFMiy2uqCMP66k5kxdN8urOcNOYMeRk+3ecY5M9nqu4zp7xowr8g/HCWrxHOR6Uj6FSWG7xne+4rG+fv/5qHbVSXWyzlYueaJ1/uglS2VL9JMzTY2QSDLMXFqr5KrL9OK2Ie78G9A2Xfy/y24U+yXWyQkQafRM2HbiMTf20as5dPw3O/dUcvok3wOYgOEEZ+5DX25LJ3h3lh6IxpLk0keiaMIgpiRhGsh/UXaVbklALFHGjKe7vPJH8x95hBeJU2hYC1er84CXDupB8Z0R/USyaqT8TWJoHg07jfVeHDNv4oEvfMcN0QfrutIU3qoayI=
    - secure: SvGlTQTKaIHPxhMRkZ0wWOpGAZjVVCB18hFEWT+TtafCX/AOeJLQ8OlxD39frfHcXuKXsrUP7RCRB9+NkrWKOjEGP65zqOEaOGbmhBiH1Q9dKO0j6nafr/5BPWOnXUpTroUbMgAyfov+If+P0S6jCNY6htOgW9806R16LPQaWrBem5p5HPsFRiyGPlmnx07F4POmLI1g1Td+pUMFQN0JeQuQ+7kaggnjOaVKA/4LiV9bjY6irlACiudlJDPJQ5Ok2S46XKDqqp54rWf1bBfg9HBBKbBugMx8aNp/CRpmpGgKOAVWJzKMcv1iOyeKaUQO5gvd/TFiAZKYrowTJ3wtJK15Tt7qFWPvNFmEbyGZBdpWNoCGy+eU897EPdVzky70FF+kQdqePVl331TWtdHA3QUOShhd9TU3dbOZWwVfpitUdTXpHyBVm9u3SN830+hMxbuxdv66XJ6/oJtf90PaawJ6HR2enTojEtgCRo5IGowjcNI8uGwUo6lWXp/qeiOkHk9cBF+l0ekF42QEJ7KeZicyECCgSL9mzYsp2Ehs7Or35tOSzA4U4DAZZcXoQzCuu8ioiA0ZB2iwmlqdtRB48qIl4hpb5xznV+4vTFGndWVynjEqNU85C0e7B4zQUVyV/6cWs20kFuidt6d21zWTp2fhODBMUVCwElbfe53UFLI=
    - secure: ga5guN9Ue03PvlWJhwa6J+OGsq+zXHE4qGl5lPZFHwW1eES0LvriVn2z9F9ERDDnwzh2/NuUDHatDOsOUACp6KKXYk0H6ytp43ib09fFZOKB9MmSNTsIwr9j2S2yQDFqR/epzQlFACktbl5ooa/4rT/Y1SWuhigDt23w9+qGr7tEUFfNQLDnFRbmDiFnSE5Ai7YHo+chmNp90eyv6GBuaKxr3Imm+pxw0a4g1Ud/zXhOtUEQ5hbqZMKJr0bPtl3Ke1ObHKwx403E4rgFZQ1qHdPo2QxWbeb7koyBkHBjjpXjgWLVi2A/wSWnUxWmGg54kikk1ZpIsoMGJD2b8/9Oj7tKObtnT/TPuz33vqViUI/x/t42NKqvq0sNa3bBbsI6NFh08S2RhsUcosOiH+ojzak7e/f//4gqj2rDYq1q/C1SsO2fZXJRs5MjOkrHT+FMc9+F+HDuuQR7qUA4IJrUyOWnKWWsA8a2VDX10MgU0rO0sbFUvxoNr8IGrzfctpjTwh9aR9cJWGp+9cP7UMR7ojbj86H2CDr0bBV9qIVDG1c8t1lnM9JTZy0ltdkGBE3pcMU3F8rahMJXNplh3c+A7bomFzpKYwKvq8F0UEKXgzFFgqdomN9L7g8tHxUvuReTgT2esdEZFt4sSEy37K82kqI7rqnHL+JvTva6SEUqUOU=
    - secure: EBw6NibpoAnLzsER3S9G768lF0JKYHt2n1EChILBM1dhhaWAmClboFW3RbTpzY5JFVGXkGj4GsvXHISWzvZSNCT/Yy/og85NMuJxnia99cUc3CzBWMeTa0Qqpnny1x3q6LS3t9milDmhElGdnGDZ4BPK6lUxp6o/jitja0AUdv3aoTqF38lhdAxMxnFA7XeEJYLjUOKhQjxMCVCFVTD8YbDUYAdWHkpaXpuhMMViJPHH0zV10Sk+Kpvk2uGZxLA3RS2FP0AJY+C94WtNevBnjhXVFuCZBNvx2fKQ3v9YjnjfluRL82ecSvSnO0Nasxvm7bJRmoQaSYkxOkY51TxMd3pOqEbUeUHst4ezbuGXMxKdC8H9k3zTleLzRYCdcG1in+P7+UCQd2sEE25dfDISOiAcJGCV0tzBZ9ivFQCzUkefO7wGtPppLewIXngX5jiANgyt8P3eZunUZWraJ5wQJIF/izgwcQyYqORPyBTbre6fKXhCuiWEz2Gkur9yOZ6rkhQg7EIzfuNFcLam1RZpRvnngPRCxV5Crd/ujcjh6mrC+AUcwBJ/0YveXH4xVT8aejnah2j3vRTYjiyfcOGVU1C5BGxL6WE1JkP5Yjw8U0cZp6d/wVLPKSLpCUxIDzKCHaj3i/6zGjdSq2Pr0NvJ3KpSoRjwnktueozCr/UO688=
    - secure: pXNe9mT5wORRj11g09EaAzJ2ajsSPcr2Lmg8cbClB2+vRu3Dk3HiDyTnffyWzaA+a4AUP5pPnwxVGl8w5XERtAtivQBhNQEkdbXAt9HRczF5IKP0WZG+7piV5ymOHawJBlKBE5F75WTWkjkn9bZTFL8fvJfAS0efrXbjKHx3DU2N7caVptzl5eJRsoOkMV6c8RDpjZ0yS+wB1A+LDi+JfwtmHwQfzMcnivv8rmlt6rz/g6x21rSBCanlbP7ol4fKAgAK9840idFXjnn39Ui533E3fOgLbvVIIrUD3s+vPmthuwx4vZ4F6A+mpkqiXTQ921gIwYMDCuMowQO1fjQkg18BsX/+HfUz8BdC4h8VpI6vvNzuCO4QA4exPbdlUwhCYI2LRs9GoCVCfInLft9DaOsm4fAoLVWmPXGShmssX+zV6v+KssQf1qBozL5PidjqksJk07qbfLcpiMq8w0w1+p3sPKXbQ++XWaur88UANDSqAgNKNJCQvGu2BqJXGfYd5lbBj91dXnzNIGvDX+5ZHAdMpwL4fb/WFl+XHU0bxOykCNKJyaShj01xn6G8wpWPtx02ksWHhEbKpwi8cKcGgw3P5h9PSzS29x7aX7+Z/jER/Q1U3KPi1W9IQI7SdKV8Gc4IKUlrPovFXfD9b+3xXVxhghILwYcGINHulA//QK8=
