html,
body {
	background-color: rgb(230, 236, 238);
	margin: 0;
	padding: 0;
}

article {
	background: white;
	padding: 20px 20px 10px;
	margin: 0 0 20px;
	border: 1px solid #cad7dc;
	border-radius: 3px;
}

h2 {
	margin: 0 0 20px;
	padding: 0;
	font-family: 'Fira Code', Consolas;
}

header,
footer {
	display: block;
	width: 100%;
	height: 60px;
	background: rgba(60, 60, 60, 0.6);
}
.sidebar-left,
.sidebar-right {
	background: rgba(60, 0, 60, 0.6);
}
.sidebar-inner-left,
.sidebar-inner-right {
	background: rgba(60, 60, 0, 0.6);
}
.content {
	background: white;
}
