html,
body {
	background-color: var(--ts-color-gray);
	margin: 0;
	padding: 0;
	overflow: auto;
}

article {
	background: var(--ts-color-gray-lightest);
	padding: 20px 20px 10px;
	margin: 0 0 20px;
	border: 1px solid #cad7dc;
	border-radius: 3px;
}

h2 {
	margin: 0 0 20px;
	padding: 0;
	font-family: 'Fira Code', Consolas;
}

.footer {
	display: block;
	width: 100%;
	height: 60px;
	background: rgba(60, 60, 60, 0.6);
}
.sidebar-left,
.sidebar-right {
	background: rgba(60, 0, 60, 0.6);
}
.sidebar-inner-left,
.sidebar-inner-right {
	background: rgba(60, 60, 0, 0.6);
}
.content {
	background: white;
}

.button-container {
	display: flex;
}

.button-container .box {
	width: calc(100% / 6);
}

.button-container .box div {
	padding: 10px;
}

ts-list-item {
	display: block;
	max-width: var(--ts-box-width-medium);
}

.typography-wrapper {
	display: flex;
	max-width: 350px;
}

.search-container {
	display: flex;
}

.search-container div {
	width: 400px;
	margin: 5px;
}

.document-card-container {
	width: 300px;
	border: var(--ts-border-width) var(--ts-border-type) var(--ts-color-gray-dark);
}

.status-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.grid-status {
	padding: 10px;
}
@media screen and (max-width: 550px) {
	.status-container {
		display: flex;
		flex-direction: column;
	}
}
