/* General........................................................ */

:host {
	& .textarea-wrapper {
		display: flex;
		flex-direction: column;
	}

	& label {
		color: var(--ts-color-black);
		font-size: var(--ts-fontsize-mini);
		font-weight: var(--ts-fontweight-semibold);
		margin: var(--ts-unit-half) 0;
		text-transform: uppercase;
	}
}

.textarea-wrapper {
	& ::slotted(textarea) {
		background-color: var(--ts-color-white);
		border: none;
		border-radius: var(--ts-radius);
		box-shadow: var(--ts-boxshadow-border-width) var(--ts-border-color-default);
		font-size: var(--ts-fontsize-mini);
		font-weight: var(--ts-fontweight);
		outline: none;
		padding: calc(var(--ts-unit-quarter) - 1px) var(--ts-unit-half);
		resize: none;
	}

	& ::slotted(textarea:hover) {
		box-shadow: var(--ts-boxshadow-border-width) var(--ts-border-color-hover);
	}

	& ::slotted(textarea:focus) {
		box-shadow: var(--ts-boxshadow-border-width-focused) var(--ts-border-color-focus);
	}
}

/* Disable status .................................................*/

:host([disabled]) {
	& label {
		color: var(--ts-color-gray-lighter);
	}

	& .textarea-wrapper ::slotted(textarea) {
		box-shadow: var(--ts-boxshadow-border-width) var(--ts-border-color-disabled);
		color: var(--ts-color-gray-lighter);
	}
}
