/* General........................................................ */

.checkbox-container {
	display: flex;
	margin: var(--ts-unit-half);
	cursor: pointer;
	font-size: var(--ts-fontsize);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:hover {
		& .checkbox {
			background-color: var(--ts-color-gray-lighter);
		}
	}

	& input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	& .checkbox {
		border: var(--ts-border);
		flex: 0 0 var(--ts-unit);
		height: var(--ts-unit);
		margin-right: var(--ts-unit-half);
		position: relative;
		width: var(--ts-unit);

		&:after {
			content: '';
			position: absolute;
			display: none;
			left: var(--ts-unit-quarter);
			top: 1px;
			width: var(--ts-unit-quarter);
			height: var(--ts-unit-half);
			border: solid var(--ts-color-white);
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}

	& input:checked ~ .checkbox {
		background-color: var(--ts-color-blue);
		border-color: var(--ts-color-blue);

		&:after {
			display: block;
		}
	}
}

/* Disable status .................................................*/
:host([disabled]) {
	& .checkbox-container {
		color: var(--ts-disabled-background-color);
		cursor: not-allowed;

		&:hover {
			& .checkbox {
				background-color: transparent;
			}
		}

		& .checkbox {
			border: var(--ts-disabled-border);
		}

		& input:checked ~ .checkbox {
			background-color: var(--ts-disabled-background-color);
			border: var(--ts-disabled-border);
		}
	}
}

/* rtl ............................................................*/
:host([dir='rtl']) {
	& .checkbox {
		margin-left: var(--ts-unit-half);
		margin-right: 0;
	}
}
