/* General........................................................ */

.radio-container {
	display: block;
	position: relative;
	padding-left: var(--ts-unit-plus);
	margin: var(--ts-unit-half);
	cursor: pointer;
	font-size: var(--ts-fontsize);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:hover {
		& span {
			background-color: var(--ts-color-gray-lighter);
		}
	}

	& input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	& span {
		position: absolute;
		top: 0;
		left: 0;
		height: var(--ts-unit);
		width: var(--ts-unit);
		border: var(--ts-border);
		border-radius: 50%;

		&:after {
			content: '';
			position: absolute;
			display: none;
			top: var(--ts-unit-quarter);
			left: var(--ts-unit-quarter);
			width: var(--ts-unit-half);
			height: var(--ts-unit-half);
			border-radius: 50%;
			background-color: var(--ts-color-white);
		}
	}
}

.radio-container input:checked ~ span {
	background-color: var(--ts-color-blue);
	border-color: var(--ts-color-blue);

	&:after {
		display: block;
	}
}

/* Disable status .................................................*/
.radio-container[disabled] {
	color: var(--ts-disabled-background-color);
	cursor: not-allowed;

	&:hover {
		& span {
			background-color: transparent;
		}
	}

	& span {
		border: var(--ts-disabled-border);
	}
}

.radio-container[disabled] input:checked ~ span {
	background-color: var(--ts-disabled-background-color);
	border: var(--ts-disabled-border);
}

/* rtl ............................................................*/
.radio-container[dir='rtl'] {
	padding-right: var(--ts-unit-plus);

	& span {
		right: 0;
	}
}
