/* index.css */
html, body {
	background-color: rgb(230, 236, 238);
}

/* core.css */
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* common.css */
.host {
	display: inline-block;
}
.host,
.host * {
	box-sizing: border-box;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Fira Code';
	background: transparent;
	margin: 0;
	padding: 0;
}

/* whatever.css */
.header,
.footer {
	height: 60px;
	background: rgba(60, 60, 60, .6);
}
.sidebar-left,
.sidebar-right {
	background: rgba(60, 0, 60, .6);
}
.sidebar-inner-left,
.sidebar-inner-right {
	background: rgba(60, 60, 0, .6);
}
.content {
	background: white;
}

/* root.css */
.host,
.host > .header,
.host > .footer,
.host > .sidebar-left,
.host > .sidebar-right,
.host > .content,
.host > .content > .sidebar-inner-left,
.host > .content > .sidebar-inner-right {
	overflow: hidden;
}


.host,
.host > .content {
	display: -ms-grid;
	display: grid;

	-ms-grid-columns: 320px minmax(320px, 1fr) 320px;
	grid-template-columns: 320px minmax(320px, 1fr) 320px;
}

.host {
	min-width: 100vw;
	max-width: 100vw;
	width: 100vw;

	min-height: 100vh;
	max-height: 100vh;
	height: 100vh;

	-ms-grid-rows: max-content 1fr max-content;
	grid-template-rows: max-content 1fr max-content;
}

.host > header {
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-row: 1 / 1;

	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-column: 1 / 4;
}

.host > .sidebar-left,
.host > .sidebar-right {
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2 / 2;
}
.host > .content > .sidebar-inner-left,
.host > .content > .sidebar-inner-right {
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-row: 1 / 1;
}
.host > .sidebar-left,
.host > .content > .sidebar-inner-left {
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1 / 1;
}
.host > .sidebar-right,
.host > .content > .sidebar-inner-right {
	-ms-grid-column: 3;
	-ms-grid-column-span: 1;
	grid-column: 3 / 3;
}

.host > footer {
	-ms-grid-row: 3;
	-ms-grid-row-span: 1;
	grid-row: 3 / 3;

	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-column: 1 / 4;
}

.host > .content,
.host > .content > main {
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2 / 2;
}

.host > .content {
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2 / 2;

	margin: 20px;

	-ms-grid-rows: 1fr;
	grid-template-rows: 1fr;
}

.host > .content > main {
	display: block;
	/* max-height: 100%; */
	overflow-x: hidden;
	overflow-y: scroll;

	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-row: 1 / 1;
}
