/* Shared Styles ................................................. */

:focus {
	outline: none;
}

:host {
	display: inline-block;
	&,
	& * {
		box-sizing: border-box;
		font-size: var(--ts-font-size-default);
		line-height: var(--ts-unit);
		font-family: var(--ts-font-family);
		background: transparent;
		margin: 0;
		padding: 0;
	}
}
