/* Shared Styles ................................................. */

:focus {
	outline: none;
}

:host {
	display: inline-block;
	&,
	& * {
		box-sizing: border-box;
		font-size: var(--ts-font-size-default);
		line-height: var(--ts-unit);
		font-family: var(--ts-font-family);
		background: transparent;
		margin: 0;
		padding: 0;
	}
}

:host([busy]) {
	& > :first-child {
		pointer-events: none;
		cursor: default;
		background-size: var(--ts-unit-double) var(--ts-unit-double);
		background-image: linear-gradient(
			-45deg,
			var(--ts-color-gray-light) 25%,
			var(--ts-color-gray-lightest) 25%,
			var(--ts-color-gray-lightest) 50%,
			var(--ts-color-gray-light) 50%,
			var(--ts-color-gray-light) 75%,
			var(--ts-color-gray-lightest) 75%,
			var(--ts-color-gray-lightest)
		);
		animation: move 1s linear infinite;
		& > * {
			visibility: hidden;
		}
	}
}

@keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: var(--ts-unit-double) var(--ts-unit-double);
	}
}
