:root {
	--ts-font-family: 'Open Sans', 'Segoe UI';
	--ts-font-weight-semibold: 600;
	--ts-font-size-default: 14px;

	--ts-aside: 320px;

	--ts-unit: 20px;
	--ts-unit-half: calc(0.5 * var(--ts-unit));
	--ts-unit-quarter: calc(0.25 * var(--ts-unit));
	--ts-unit-double: calc(2 * var(--ts-unit));

	--ts-color-white: rgb(255, 255, 255);
	--ts-color-blue: rgb(0, 174, 255);
	--ts-color-blue-dark: rgb(0, 132, 204);
	--ts-color-blue-darker: rgb(0, 100, 163);

	--ts-color-red: rgb(222, 69, 69);
	--ts-color-green: rgb(143, 218, 103);
	--ts-color-orange: rgb(255, 221, 179);
	--ts-color-black: rgb(15, 21, 26);

	--ts-color-gray-rgb: 203, 215, 220;
	--ts-color-gray: rgb(var(--ts-color-gray-rgb));

	--ts-color-slate: rgb(202, 215, 220);

	--ts-border: 1px solid var(--ts-color-slate);
	--ts-margin: 0 var(--ts-unit) var(--ts-unit) 0;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
