/* General........................................................ */

#selectInput {
	background-color: var(--ts-color-white);
	border: var(--ts-border);
	border-radius: var(--ts-radius);
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	height: var(--ts-unit-plus);

	& .filter-input {
		border: 0;
		box-sizing: border-box;
		cursor: pointer;
		flex: 1 1 0;
		font-size: var(--ts-fontsize-mini);
		font-weight: var(--ts-fontweight);
		height: calc(var(--ts-unit-plus) - 6px);
		margin: 2px;
		overflow: hidden;
		padding: 4px var(--ts-unit-half);
		text-overflow: ellipsis;
		white-space: nowrap;

		&::placeholder {
			color: var(--ts-color-slate-lightest);
			font-style: italic;
		}

		/* hide a default clear input button in IE */
		&::-ms-clear {
			display: none;
		}
	}

	& .icon-end {
		cursor: pointer;
		flex: 0 0 var(--ts-unit-plus);
	}
}

:host(:not([disabled])) #selectInput:focus-within {
	border-color: var(--ts-border-color-focus);
	box-shadow: var(--ts-boxshadow-border-focus);
}

/* Label ........................................................ */

label {
	display: block;
	color: var(--ts-color-black);
	font-size: var(--ts-fontsize-mini);
	font-weight: var(--ts-fontweight-semibold);
	padding: var(--ts-unit-quarter) 0;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: uppercase;
}

/* RTL............................................................ */
:host([dir='rtl']) {
	& .show-selection ts-icon {
		margin-left: var(--ts-unit-half);
		margin-right: 0;
	}
}

/* Disable........................................................ */
:host([disabled]) #selectInput {
	color: var(--ts-disabled-color);
}

:host([disabled]) {
	& label {
		color: var(--ts-disabled-color);
	}
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	#selectInput .icon-end {
		margin: 2px 0;
	}

	.filter-input {
		max-width: 90%;
		min-width: 0px;
		width: 90%;
	}
}
