:focus {
	outline: none;
}

:host {
	display: inline-block;
}
:host,
:host * {
	box-sizing: border-box;
	font-size: var(--ts-font-size-default);
	line-height: var(--ts-unit-double);
	font-family: var(--ts-font-family);
	background: transparent;
	margin: 0;
	padding: 0;
}

:host .title {
	font-weight: var(--ts-font-weight-semibold);
	text-transform: uppercase;
	letter-spacing: .02em;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
