/* General........................................................ */

:host {
	background-color: var(--ts-color-white);
	border: var(--ts-border);
	border-radius: var(--ts-radius);
	box-shadow: var(--ts-board-shadow);
	display: block;
	overflow: hidden;
}

.board-header {
	background-color: var(--ts-color-white);
	border-bottom: var(--ts-border);
	color: var(--ts-color-black);
	padding: var(--ts-unit-half) var(--ts-unit);
	font-size: var(--ts--fontsize);
	font-weight: var(--ts-fontweight-semibold);
}

.board-main {
	padding: var(--ts-unit);
}
