:host {
	display: block;
	margin-bottom: var(--ts-unit-half);
}

.file-icon-wrapper {
	position: relative;
	height: var(--ts-unit-double);
	width: var(--ts-unit-plus);

	& .file-icon {
		width: 100%;
		height: 100%;
	}
}

.action-icon {
	margin-top: var(--ts-unit-quarter);
}

.file-icon-wrapper {
	& #outline {
		fill: var(--ts-color-white);
		stroke: var(--ts-color-gray-dark);
	}

	& #fold {
		fill: var(--ts-color-gray-dark);
	}
}

.file-name {
	font-weight: bold;
}

.action-icon {
	color: var(--ts-color-slate-lightest);
}

.content,
.file-icon-wrapper,
.download-action,
.remove-action {
	cursor: pointer;
}

.state-uploading .content,
.state-uploading .file-icon-wrapper,
.state-failed .content,
.state-failed .file-icon-wrapper {
	cursor: default;
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 2;
	max-width: calc(100% - 20px - 35px);
	width: calc(100% - 20px - 35px);
	padding: 0 var(--ts-unit-half);
}

.remove-action-message,
.download-action-message {
	color: var(--ts-color-blue);
}

.remove-action-message,
.download-action-message {
	display: none;
}

.download-action-hovered,
.remove-action-hovered {
	& .file-information,
	& .error-message,
	& .progress-bar {
		display: none;
	}
}

.download-action-hovered {
	&.state-uploading,
	&.state-failed {
		& .download-action-message {
			display: none;
		}

		& .file-information,
		& .error-message,
		& .progress-bar {
			display: initial;
		}
	}
}

.remove-action-hovered .remove-action-message,
.download-action-hovered .download-action-message {
	display: block;
}

.download-action-hovered {
	& .download-action {
		& .action-icon {
			color: var(--ts-color-blue);
		}
	}
}
.remove-action-hovered {
	& .remove-action {
		& .action-icon {
			color: var(--ts-color-blue);
		}
	}
}

.progress-bar {
	--ts-progress-bar-margin: calc((var(--ts-unit) - var(--ts-progress-bar-height)) / 2);
	margin: var(--ts-progress-bar-margin) 0;
}

.action-icon-wrapper {
	display: none;
}

.state-uploading,
.state-download[data-removable],
.state-failed {
	& .remove-action {
		display: block;
	}
}

.state-download .download-action {
	display: block;
}

.state-download[data-removable] .download-action {
	display: none;
}

.file-information {
	display: flex;
}
