/* General........................................................ */

:host {
	width: 100%;
}

.card {
	width: 100%;
	position: relative;
	border-radius: var(--ts-radius);
	box-shadow: var(--ts-boxshadow-border-default);
	overflow: hidden;
	padding: var(--ts-unit-half);
	background-color: var(--ts-color-white);
	transition: box-shadow var(--ts-transition-now), border-color var(--ts-transition-now);

	&:hover {
		box-shadow: var(--ts-boxshadow-border-hover);
	}
}

.card-wrapper {
	display: block;
}

[data-no-horizontal-padding] {
	padding-left: 0;
	padding-right: 0;
}

[data-no-vertical-padding] {
	padding-top: 0;
	padding-bottom: 0;
}

[data-no-padding] {
	padding: 0;
}

/* types */
[data-type='error'],
[data-type='failed'],
[data-type='danger'] {
	box-shadow: var(--ts-boxshadow-border-error);

	&:hover {
		box-shadow: var(--ts-boxshadow-border-error), 0 0 0 1px var(--ts-color-red-lighter);
	}
}

[data-type='success'] {
	box-shadow: var(--ts-boxshadow-border-success);

	&:hover {
		box-shadow: var(--ts-boxshadow-border-success), 0 0 0 1px var(--ts-color-green-lighter);
	}
}

[data-type='focus'],
[data-type='active'],
[data-type='primary'] {
	box-shadow: var(--ts-boxshadow-border-focus);

	&:hover {
		box-shadow: var(--ts-boxshadow-border-hover);
	}
}

[data-rtl] {
	direction: rtl;
}

/* orientations */
[data-orientation='horizontal'],
[data-orientation='h'] {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

[data-orientation='vertical'],
[data-orientation='v'] {
	flex-direction: column;
	align-items: flex-start;
}

.card-wrapper[data-size='small'] {
	width: var(--ts-box-width-small);
}

.card-wrapper[data-size='medium'] {
	width: var(--ts-box-width-medium);
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.card-wrapper[data-size='small'],
	.card-wrapper[data-size='medium'] {
		/* hack for ie11 transparent box-shadow*/
		padding: 1px;
	}
}
