/* General........................................................ */

:host {
}

.content {
	text-align: center;
	padding: 0 var(--ts-unit) var(--ts-unit);
}

.footer {
	padding: 0 var(--ts-unit-double) var(--ts-unit);
}

::slotted(ts-button) {
	display: block;
	margin-bottom: var(--ts-unit-half);
	text-align: center;
}

ts-button:focus {
	box-shadow: var(--ts-boxshadow-border-width-focused) var(--ts-color-blue);
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
