<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tradeshift Elements - {{kebabCase name}} </title>

		<!-- Don't shim CSS Custom Properties on IE11 -->
		<script>
			if (!window.Promise) {
				window.ShadyCSS = { nativeCss: true };
			}
		</script>

		<!-- Enable ES5 class-less Custom Elements -->
		<script src="/node_modules/@webcomponents/webcomponentsjs/custom-elements-es5-adapter.js"></script>
		<!-- Load appropriate polyfills and shims -->
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js" defer></script>

		<!-- Set :root CSS Custom Properties -->
		<link rel="stylesheet" href="/packages/core/src/vars.css" />
		<!-- Set @font-face for all needed fonts -->
		<link rel="stylesheet" href="/packages/core/src/fonts.css" />
		<!-- Set margin/padding to be 0 for <html> -->
		<link rel="stylesheet" href="/packages/core/src/reset.css" />

		<!-- Load user-styles -->
		<link rel="stylesheet" href="/index.css" />

		<script type="module" src="/packages/components/{{kebabCase name}}/lib/{{kebabCase name}}.esm.js"></script>
	</head>

	<body>
		<article>
			<ts-{{kebabCase name}}></ts-{{kebabCase name}}>
		</article>
	</body>
</html>
