/* General........................................................ */

:host {
	& > button {
		position: relative;
		min-width: var(--ts-unit-double);
		margin-right: var(--ts-unit-quarter);
		border: var(--ts-border);
		border-radius: var(--ts-unit-double);
		&:before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border: var(--ts-border);
			border-radius: var(--ts-unit-double);
		}
	}

	& span {
		display: block;
		padding: var(--ts-unit-half) var(--ts-unit);
		font-weight: var(--ts-fontweight-semibold);
		text-transform: uppercase;
		letter-spacing: 0.02em;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

:host(:not([busy])) {
	& > button {
		&:hover {
			cursor: pointer;
			background: var(--ts-color-gray-lighter);
		}

		&:focus:before {
			display: block;
			content: '';
			border-color: var(--ts-color-blue);
		}
	}
}

/* Primary type................................................... */

:host([type='primary']) {
	& > button {
		background: var(--ts-color-blue);
		color: var(--ts-color-white);
		border-color: var(--ts-color-blue);
	}
}

:host(:not([busy])[type='primary']) {
	& > button {
		&:hover {
			background: var(--ts-color-blue-dark);
		}

		&:focus:before {
			content: '';
			border-color: var(--ts-color-blue-darker);
		}
	}
}

/* Accept type................................................... */

:host([type='accept']) {
	& > button {
		background: var(--ts-color-green);
		color: var(--ts-color-white);
		border-color: var(--ts-color-green);
	}
}

:host(:not([busy])[type='accept']) {
	& > button {
		&:hover {
			background: var(--ts-color-green-dark);
		}

		&:focus:before {
			content: '';
			border-color: var(--ts-color-green-darker);
		}
	}
}

/* Warning type................................................... */

:host([type='warning']) {
	& > button {
		background: var(--ts-color-orange);
		color: var(--ts-color-white);
		border-color: var(--ts-color-orange);
	}
}

:host(:not([busy])[type='warning']) {
	& > button {
		&:hover {
			background: var(--ts-color-orange-dark);
		}

		&:focus:before {
			content: '';
			border-color: var(--ts-color-orange-darker);
		}
	}
}

/* Danger type................................................... */

:host([type='danger']) {
	& > button {
		background: var(--ts-color-red);
		color: var(--ts-color-white);
		border-color: var(--ts-color-red);
	}
}

:host(:not([busy])[type='danger']) {
	& > button {
		&:hover {
			background: var(--ts-color-red-dark);
		}

		&:focus:before {
			content: '';
			border-color: var(--ts-color-red-darker);
		}
	}
}

/* Text type...................................................... */

:host([type='text']) {
	& > button {
		background: transparent;
		border: 0;
		border-radius: 0;
		padding: 0;
	}

	& span {
		color: var(--ts-color-blue);
		padding: 0;
		font-weight: var(--ts-fontweight);
		text-transform: none;
		letter-spacing: normal;
	}
}

:host(:not([busy])[type='text']) {
	& > button {
		&:hover {
			background: transparent;
			& span {
				color: var(--ts-color-blue-dark);
				text-decoration: underline;
			}
		}

		&:focus {
			background: var(--ts-color-blue);
			& span {
				color: var(--ts-color-white);
			}
		}
	}
}

/* Micro size......................................................*/

:host([size='micro']) {
	& > button {
		border-radius: var(--ts-unit);
		padding: 0 var(--ts-unit-half);
	}

	& span {
		padding: var(--ts-unit-eighth);
		font-size: var(--ts-fontsize-small);
	}
}

:host([size='micro'][type='text']) {
	& > button {
		border-radius: 0;
		padding: 0;
	}
}

/* Inside a ButtonGroup ...........................................*/

:host([grouped]) {
	display: block;
	margin-bottom: var(--ts-unit-half);
	text-align: center;

	& > button {
		width: 100%;
		display: block;
	}
}

/* Button with an icon ............................................*/

:host([icon]) {
	& > button {
		width: var(--ts-unit-double);
		height: var(--ts-unit-double);
		line-height: var(--ts-unit-double);
		margin: 0 auto;
	}
}

/* Disable status .................................................*/

:host([disabled]) {
	cursor: not-allowed;
	& > button {
		pointer-events: none;
		background-color: var(--ts-disabled-background-color);
		border: var(--ts-disabled-border-color);
	}

	& span {
		color: var(--ts-disabled-color);
	}
}

:host([disabled][type='text']) {
	& > button {
		background-color: transparent;
	}
}

/* Busy status ....................................................*/

:host([busy]) {
	& > :first-child {
		pointer-events: none;
		cursor: default;
		border: transparent;
		background-size: var(--ts-unit-double) var(--ts-unit-double);
		background-image: linear-gradient(
			-45deg,
			var(--ts-color-gray-light) 25%,
			var(--ts-color-gray-lightest) 25%,
			var(--ts-color-gray-lightest) 50%,
			var(--ts-color-gray-light) 50%,
			var(--ts-color-gray-light) 75%,
			var(--ts-color-gray-lightest) 75%,
			var(--ts-color-gray-lightest)
		);
		animation: move 1s linear infinite;

		& > * {
			visibility: hidden;
		}
	}
}

@keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: var(--ts-unit-double) var(--ts-unit-double);
	}
}
