/* General........................................................ */

:host {
	& img {
		width: var(--ts-unit-double);
		height: var(--ts-unit-double);
		border-radius: var(--ts-radius);
	}
}

:host([size='large']) {
	& img {
		width: var(--ts-unit-triple);
		height: var(--ts-unit-triple);
	}
}
