/* General........................................................ */

:host {
	display: block;
	padding: var(--ts-unit-half);
	background-color: var(--ts-color-yellow-lightest);
	border-bottom: 1px dotted currentColor;
}

.note-wrapper {
	position: relative;
	border-radius: var(--ts-radius) var(--ts-radius) 0 0;
	color: var(--ts-color-black);
	justify-content: space-between;
	align-items: flex-start;
	display: flex;
}

.content {
	flex-grow: 2;
	margin: 0;
	line-height: var(--ts-unit);
	/* Fix for icon size which cause unalignment in note */
	padding-top: 2px;
}

.close-button {
	cursor: pointer;
	margin-left: var(--ts-unit-half);
}

.icon {
	margin-right: var(--ts-unit-half);
}

:host([type='ada']) {
	background-color: var(--ts-color-purple-lightest);
	color: var(--ts-color-purple);
}

:host([type='neutral']) {
	background-color: var(--ts-color-gray-lighter);
}

[dir='rtl'] {
	& .close-button {
		margin-left: 0;
		margin-right: var(--ts-unit-half);
	}

	& .icon {
		margin-right: 0;
		margin-left: var(--ts-unit-half);
	}
}

:host([hidden]) {
	display: none;
}

:host ::slotted(a) {
	color: var(--ts-color-blue);
	text-decoration: none;
}

:host ::slotted(a:hover) {
	text-decoration: underline;
}
