:host {
	background-color: var(--ts-color-white);
	position: relative;
	border: var(--ts-border);
	border-radius: var(--ts-radius);
	box-shadow: 0px 5px 10px 0px rgba(88, 124, 141, 0.1);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	z-index: var(--ts-zindex-max);

	& ul {
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}
}

#listContainer {
	overflow: auto;
}

.apply-button-container {
	background-color: var(--ts-color-white);
	border-top: var(--ts-border);
	bottom: 0;
	position: relative;

	& ts-button-group {
		padding: var(--ts-unit-half);
		& ts-button {
			margin-bottom: 0;
		}
	}

	&.show {
		display: block;
	}
	&.hide {
		display: none;
	}
}

.no-items {
	background-color: var(--ts-color-white);
	font-size: var(--ts-fontsize-mini);
	font-weight: var(--ts-fontweight);
	padding: var(--ts-unit-half);
}

.show-selection {
	align-items: center;
	cursor: pointer;
	display: inline-flex;
	font-size: var(--ts-fontsize-mini);
	font-weight: var(--ts-fontweight);
	padding: var(--ts-unit) var(--ts-unit) var(--ts-unit-half) var(--ts-unit);
	& ts-icon {
		margin-right: var(--ts-unit-half);
	}
}
