/* General........................................................ */
:host,
:host > section {
	display: block;
	width: 100%;
}

:host([inline]) {
	font-size: 0;
}

:host([inline]) ::slotted(ts-button) {
	margin-inline-end: var(--ts-unit-half);
}
