name: Publish packages

on:
  push:
    branches:
      - master

jobs:
  publish:
    if: "startsWith(github.event.commits[0].message, 'chore(release):')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Bootstrap monorepo
        run: npm run lerna:bootstrap:ci

      - name: Build
        run: npm run build:prod

      - name: Publish to NPM
        run: npm run lerna-publish-ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN_PUBLIC }}

      - uses: actions/setup-node@v4
        with:
          node-version: 16
          registry-url: 'https://npm.pkg.github.com'
          cache: npm
          scope: '@tradeshift'

      - name: Publish to Github Packahes
        run: npm run lerna-publish-ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
